.activePage{
    background-color: #781188;
    text-decoration: underline;
    border-radius: 10px;
}

.activePage:hover{
    border: none;
    border-radius: none;
    background-color: #781188;
}


.navbar{
    background-color: #432947;
    height: 100px;
    top: 0;
    position: sticky;
    z-index: 1;

}


.menu{
    float: right;
    height: 30px;
    margin-top: 35px;
    margin-right: 10px;
}

span a{
    color: rgb(255, 222, 144);
    text-decoration: none;
    font-size: 1.5em;
    padding: 10px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 0px;
    word-spacing: 0px;
}
span a:hover{
    border: solid #089985;
    border-radius: 10px;
    background-color: #781188;
}


span a:active{
    border: solid #089985;
    border-radius: 10px;
    background-color: #720d61;
}


.top{
    border-radius: 500px;
    width: 50px;
    height: 50px;
    opacity: .1;
    float: right;
    margin-right: 30px;
    position: fixed;
    bottom: 5;
    right: 0;
}

.top:hover{
    opacity: 1;
    box-shadow: 5px 10px 10px black;
}